In [1]:
import pandas as pd
import os

In [2]:
file_to_load_1 = os.path.join("../PyCitySchools/raw_data/schools_complete.csv")
file_to_load_2 = os.path.join("../PyCitySchools/raw_data/students_complete.csv")

In [3]:
schools_df = pd.read_csv(file_to_load_1)
students_df = pd.read_csv(file_to_load_2)

In [4]:
# rename 'name' column in schools_df
schools_df = schools_df.rename(columns={"name":"school"})

In [5]:
schools_df.head()

   School ID                 school      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

# District Summary

In [6]:
# district summary statistics
total_schools = len(schools_df['school'].unique())
# ^^^I can also use schools_df['name'].count(), but len(unique) method safer in case of duplicates. any better way?
total_students = schools_df['size'].sum()
total_budget = schools_df['budget'].sum()

# testing scores
# math
district_average_math = students_df['math_score'].mean()
count_passing_math = len(students_df.loc[students_df['math_score'] > 69])
percent_passing_math = (count_passing_math/total_students) * 100

# english
district_average_reading = students_df['reading_score'].mean()
count_passing_reading = len(students_df.loc[students_df['reading_score'] > 69])
percent_passing_reading = (count_passing_reading/total_students) * 100

# overall passing rate
percent_passing_overall = (percent_passing_math + percent_passing_reading) / 2

# translate above stats into dataframe
district_summary = pd.DataFrame({
    "School Count":total_schools, "Total District Students":total_students,
    "Total District Budget":total_budget, "Average Math Score": district_average_math,
    "Percent Passing Math":percent_passing_math, "Average Reading Score": district_average_reading,
    "Percent Passing Reading":[percent_passing_reading], "Overall Passing Rate":percent_passing_overall
})

# munge it baby
district_summary = round(district_summary, 2)
district_summary['Average Math Score'] = district_summary['Average Math Score'].map("{:.2f}%".format)
district_summary['Average Reading Score'] = district_summary['Average Reading Score'].map("{:.2f}%".format)
district_summary['Overall Passing Rate'] = district_summary['Overall Passing Rate'].map("{:.2f}%".format)
district_summary['Percent Passing Math'] = district_summary['Percent Passing Math'].map("{:.2f}%".format)
district_summary['Percent Passing Reading'] = district_summary['Percent Passing Reading'].map("{:.2f}%".format)
district_summary['Total District Budget'] = district_summary['Total District Budget'].map("${:.2f}".format)

district_summary

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading,School Count,Total District Budget,Total District Students
0,78.99%,81.88%,80.39%,74.98%,85.81%,15,$24649428.00,39170

# School Summary

In [7]:
# combine both dataframes
combined_df = pd.merge(schools_df, students_df, how='inner', on='school')

# get school type
school_types = schools_df.set_index(['school'])['type']

# student count by school
school_student_count = combined_df['school'].value_counts()

# per school stats using groupbys
# budget by school, student per school
school_total_budget = combined_df.groupby('school').mean()['budget']
school_budget_per_student = (school_total_budget/school_student_count)

# average scores
school_average_math = combined_df.groupby('school').mean()['math_score']
school_average_reading = combined_df.groupby('school').mean()['reading_score']

# total passing, percent passing
# math
school_count_passing_math = combined_df.loc[combined_df['math_score'] > 69]
school_percent_passing_math = (school_count_passing_math.groupby('school').count()['name']/school_student_count) * 100

# english
school_count_passing_reading = combined_df.loc[combined_df['reading_score'] > 69]
school_percent_passing_reading = (school_count_passing_reading.groupby('school').count()['name']/school_student_count) * 100

# overall
school_overall_passing = ((school_percent_passing_math + school_percent_passing_reading) / 2)

# dump summary stats into dataframe
school_summary = pd.DataFrame({
    "Student Count":school_student_count, "Total Budget":school_total_budget,
    "Spending Per Student":school_budget_per_student, "Average Math Score":school_average_math,
    "Average Reading Score":school_average_reading, "Percent Passing Math":school_percent_passing_math,
    "Percent Passing Reading":school_percent_passing_reading, "Overall Passing Rate":school_overall_passing,
    "School Type":school_types
})

# munge school summary dataframe
school_summary = round(school_summary, 2)
# school_summary['Total Budget'] = school_summary['Total Budget'].map("${:,.2f}".format)
# school_summary['Spending Per Student'] = school_summary['Spending Per Student'].map("${:,.0f}".format)
# school_summary['Average Math Score'] = school_summary['Average Math Score'].map("{:,.2f}%".format)
# school_summary['Average Reading Score'] = school_summary['Average Reading Score'].map("{:,.2f}%".format)
# school_summary['Overall Passing Rate'] = school_summary['Overall Passing Rate'].map("{:,.2f}%".format)
# school_summary['Percent Passing Math'] = school_summary['Percent Passing Math'].map("{:,.2f}%".format)
# school_summary['Percent Passing Reading'] = school_summary['Percent Passing Reading'].map("{:,.2f}%".format)

school_summary

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading,School Type,Spending Per Student,Student Count,Total Budget
Bailey High School,77.05,81.03,74.31,66.68,81.93,District,628.0,4976,3124928.0
Cabrera High School,83.06,83.98,95.59,94.13,97.04,Charter,582.0,1858,1081356.0
Figueroa High School,76.71,81.16,73.36,65.99,80.74,District,639.0,2949,1884411.0
Ford High School,77.10,80.75,73.80,68.31,79.30,District,644.0,2739,1763916.0
Griffin High School,83.35,83.82,95.27,93.39,97.14,Charter,625.0,1468,917500.0
Hernandez High School,77.29,80.93,73.81,66.75,80.86,District,652.0,4635,3022020.0
Holden High School,83.80,83.81,94.38,92.51,96.25,Charter,581.0,427,248087.0
Huang High School,76.63,81.18,73.50,65.68,81.32,District,655.0,2917,1910635.0
Johnson High School,77.07,80.97,73.64,66.06,81.22,District,650.0,4761,3094650.0
Pena High School,83.84,84.04,95.27,94.59,95.95,Charter,609.0,962,585858.0
Rodriguez High School,76.84,80.74,73.29,66.37,80.22,District,637.0,3999,2547363.0
Shelton High School,83.36,83.73,94.86,93.87,95.85,Charter,600.0,1761,1056600.0
Thomas High School,83.42,83.85,95.29,93.27,97.31,Charter,638.0,1635,1043130.0
Wilson High School,83.27,83.99,95.20,93.87,96.54,Charter,578.0,2283,1319574.0
Wright High School,83.68,83.96,94.97,93.33,96.61,Charter,583.0,1800,1049400.0

# Top Performing Schools by Passing Rate

In [8]:
top_schools_passing = school_summary.sort_values('Overall Passing Rate', ascending=False)
top_schools_passing = top_schools_passing[:5]

# munge school summary dataframe
top_schools_passing = round(top_schools_passing, 2)
top_schools_passing['Total Budget'] = top_schools_passing['Total Budget'].map("${:,.2f}".format)
top_schools_passing['Spending Per Student'] = top_schools_passing['Spending Per Student'].map("${:,.0f}".format)
top_schools_passing['Average Math Score'] = top_schools_passing['Average Math Score'].map("{:,.2f}%".format)
top_schools_passing['Average Reading Score'] = top_schools_passing['Average Reading Score'].map("{:,.2f}%".format)
top_schools_passing['Overall Passing Rate'] = top_schools_passing['Overall Passing Rate'].map("{:,.2f}%".format)
top_schools_passing['Percent Passing Math'] = top_schools_passing['Percent Passing Math'].map("{:,.2f}%".format)
top_schools_passing['Percent Passing Reading'] = top_schools_passing['Percent Passing Reading'].map("{:,.2f}%".format)

top_schools_passing

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading,School Type,Spending Per Student,Student Count,Total Budget
Cabrera High School,83.06%,83.98%,95.59%,94.13%,97.04%,Charter,$582,1858,"$1,081,356.00"
Thomas High School,83.42%,83.85%,95.29%,93.27%,97.31%,Charter,$638,1635,"$1,043,130.00"
Griffin High School,83.35%,83.82%,95.27%,93.39%,97.14%,Charter,$625,1468,"$917,500.00"
Pena High School,83.84%,84.04%,95.27%,94.59%,95.95%,Charter,$609,962,"$585,858.00"
Wilson High School,83.27%,83.99%,95.20%,93.87%,96.54%,Charter,$578,2283,"$1,319,574.00"

# Worst Performing Schools by Passing Rate

In [9]:
worst_schools_passing = school_summary.sort_values('Overall Passing Rate')
worst_schools_passing = worst_schools_passing[:5]

# munge school summary dataframe
worst_schools_passing = round(worst_schools_passing, 2)
worst_schools_passing['Total Budget'] = worst_schools_passing['Total Budget'].map("${:,.2f}".format)
worst_schools_passing['Spending Per Student'] = worst_schools_passing['Spending Per Student'].map("${:,.0f}".format)
worst_schools_passing['Average Math Score'] = worst_schools_passing['Average Math Score'].map("{:,.2f}%".format)
worst_schools_passing['Average Reading Score'] = worst_schools_passing['Average Reading Score'].map("{:,.2f}%".format)
worst_schools_passing['Overall Passing Rate'] = worst_schools_passing['Overall Passing Rate'].map("{:,.2f}%".format)
worst_schools_passing['Percent Passing Math'] = worst_schools_passing['Percent Passing Math'].map("{:,.2f}%".format)
worst_schools_passing['Percent Passing Reading'] = worst_schools_passing['Percent Passing Reading'].map("{:,.2f}%".format)

worst_schools_passing.head()

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading,School Type,Spending Per Student,Student Count,Total Budget
Rodriguez High School,76.84%,80.74%,73.29%,66.37%,80.22%,District,$637,3999,"$2,547,363.00"
Figueroa High School,76.71%,81.16%,73.36%,65.99%,80.74%,District,$639,2949,"$1,884,411.00"
Huang High School,76.63%,81.18%,73.50%,65.68%,81.32%,District,$655,2917,"$1,910,635.00"
Johnson High School,77.07%,80.97%,73.64%,66.06%,81.22%,District,$650,4761,"$3,094,650.00"
Ford High School,77.10%,80.75%,73.80%,68.31%,79.30%,District,$644,2739,"$1,763,916.00"

# District Test Scores by Grade

In [10]:
# create group by grade
grade_group = students_df.groupby('grade')

# math scores by grade
grades_math = grade_group['math_score'].mean()

# reading scores by grade
grades_reading = grade_group['reading_score'].mean()

# dump analysis in data frame
grade_score_summary = pd.DataFrame({
    "Average Math Score":grades_math,
    "Average Reading Score":grades_reading
})

# munge it
grade_score_summary = round(grade_score_summary, 2)
grade_score_summary['Average Math Score'] = grade_score_summary['Average Math Score'].map("{:,.2f}%".format)
grade_score_summary['Average Reading Score'] = grade_score_summary['Average Reading Score'].map("{:,.2f}%".format)

grade_score_summary

      Average Math Score Average Reading Score
grade
10th              78.94%                81.87%
11th              79.08%                81.89%
12th              78.99%                81.82%
9th               78.94%                81.91%

# Scores by School Spending

In [11]:
# split schools by average spending on student
bins = [570, 590, 610, 700]

# bin labels
group_labels = ['Low', 'Medium', 'High']

# add bins to dataframe
school_summary['Average Spending Per Student'] = pd.cut(school_summary['Spending Per Student'], bins, labels=group_labels)

# group by bins
spending_group = school_summary.groupby('Average Spending Per Student')

In [12]:
# analysis by spending bin
spending_math_average = spending_group['Average Math Score'].mean()
spending_reading_average = spending_group['Average Reading Score'].mean()
spending_percent_math = spending_group['Percent Passing Math'].mean()
spending_percent_reading = spending_group['Percent Passing Reading'].mean()
spending_overall_passing = spending_group['Overall Passing Rate'].mean()

# dump analysis in table
spending_scores_summary = pd.DataFrame({
    "Average Math Score":spending_math_average, "Average Reading Score":spending_reading_average,
    "Percent Passing Math":spending_percent_math, "Percent Passing Reading":spending_percent_reading,
    "Overall Passing Rate":spending_overall_passing
})

# munge it
spending_scores_summary = round(spending_scores_summary, 2)
spending_scores_summary['Average Math Score'] = spending_scores_summary['Average Math Score'].map("{:,.2f}%".format)
spending_scores_summary['Average Reading Score'] = spending_scores_summary['Average Reading Score'].map("{:,.2f}%".format)
spending_scores_summary['Overall Passing Rate'] = spending_scores_summary['Overall Passing Rate'].map("{:,.2f}%".format)
spending_scores_summary['Percent Passing Reading'] = spending_scores_summary['Percent Passing Reading'].map("{:,.2f}%".format)
spending_scores_summary['Percent Passing Math'] = spending_scores_summary['Percent Passing Math'].map("{:,.2f}%".format)

spending_scores_summary

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading
Average Spending Per Student,,,,,
Low,83.45%,83.94%,95.04%,93.46%,96.61%
Medium,83.60%,83.88%,95.06%,94.23%,95.90%
High,78.38%,81.60%,78.47%,72.50%,84.45%

# Scores by School Size

In [13]:
# split schools by school size
bins = [0, 1500, 3000, 7000]

# bin labels
group_labels = ['Small', 'Medium', 'Large']

# add bins to dataframe
school_summary['School Size'] = pd.cut(school_summary['Student Count'], bins, labels=group_labels)

# group by bins
size_group = school_summary.groupby('School Size')

In [14]:
# analysis by size bin
size_math_average = size_group['Average Math Score'].mean()
size_reading_average = size_group['Average Reading Score'].mean()
size_percent_math = size_group['Percent Passing Math'].mean()
size_percent_reading = size_group['Percent Passing Reading'].mean()
size_overall_passing = size_group['Overall Passing Rate'].mean()

# dump analysis in dataframe
size_scores_summary = pd.DataFrame({
    "Average Math Score":size_math_average, "Average Reading Score":size_reading_average,
    "Percent Passing Math":size_percent_math, "Percent Passing Reading":size_percent_reading,
    "Overall Passing Rate":size_overall_passing
})

# munge it
size_scores_summary = round(size_scores_summary, 2)
size_scores_summary['Average Math Score'] = size_scores_summary['Average Math Score'].map("{:,.2f}%".format)
size_scores_summary['Average Reading Score'] = size_scores_summary['Average Reading Score'].map("{:,.2f}%".format)
size_scores_summary['Overall Passing Rate'] = size_scores_summary['Overall Passing Rate'].map("{:,.2f}%".format)
size_scores_summary['Percent Passing Reading'] = size_scores_summary['Percent Passing Reading'].map("{:,.2f}%".format)
size_scores_summary['Percent Passing Math'] = size_scores_summary['Percent Passing Math'].map("{:,.2f}%".format)

size_scores_summary

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading
School Size,,,,,
Small,83.66%,83.89%,94.97%,93.50%,96.45%
Medium,80.90%,82.82%,87.07%,83.56%,90.59%
Large,77.06%,80.92%,73.76%,66.46%,81.06%

# Scores by School Type

In [15]:
# group schools by type
type_groups = school_summary.groupby('School Type')

# testing scores by type
type_math_average = type_groups['Average Math Score'].mean()
type_reading_average = type_groups['Average Reading Score'].mean()
type_percent_math = type_groups['Percent Passing Math'].mean()
type_percent_reading = type_groups['Percent Passing Reading'].mean()
type_overall_passing = type_groups['Overall Passing Rate'].mean()

# type scores summary table
type_scores_summary = pd.DataFrame({
    "Average Math Score":type_math_average, "Average Reading Score":type_reading_average,
    "Percent Passing Math":type_percent_math, "Percent Passing Reading":type_percent_reading,
    "Overall Passing Rate":type_overall_passing
})

# munge it
type_scores_summary = round(type_scores_summary, 2)
type_scores_summary['Average Math Score'] = type_scores_summary['Average Math Score'].map("{:,.2f}%".format)
type_scores_summary['Average Reading Score'] = type_scores_summary['Average Reading Score'].map("{:,.2f}%".format)
type_scores_summary['Percent Passing Math'] = type_scores_summary['Percent Passing Math'].map("{:,.2f}%".format)
type_scores_summary['Percent Passing Reading'] = type_scores_summary['Percent Passing Reading'].map("{:,.2f}%".format)
type_scores_summary['Overall Passing Rate'] = type_scores_summary['Overall Passing Rate'].map("{:,.2f}%".format)

type_scores_summary

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Passing Math,Percent Passing Reading
School Type,,,,,
Charter,83.47%,83.90%,95.10%,93.62%,96.59%
District,76.96%,80.97%,73.67%,66.55%,80.80%